body {
    font-family: 'Lato', sans-serif;
}

.bg_container {
    background: rgb(244,190,213);
    background: radial-gradient(circle, rgba(244,190,213,1) 0%, rgba(197,20,231,1) 100%);
    height: 100vh;
}

.card {
    margin: 0px auto;
    max-width: 50%;
}

.card-title {
    border-bottom: 1px solid fuchsia;
}
