body {
    font-family: 'Lato', sans-serif;
}

.bg_container {
    background: rgb(235,99,126);
    background: radial-gradient(circle, rgba(235,99,126,1) 0%, rgba(197,238,118,1) 100%);
    height: 100vh;
}

.card {
    margin: 0px auto;
    max-width: 50%;
}

.card-title {
    border-bottom: 1px solid rgb(238, 75, 75);
}

li {
    list-style: none;
}